* {
  box-sizing: border-box;
}

html,
body,
.app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 250, .9);
  cursor: default;
  user-select: none;
}

.slide {
  width: 220px;
  background: rgba(235, 235, 235, .9);
  color: #333;
  height: 100%;
  float: left;
  border-right: solid 1px #ddd;
}

.list {
  margin: 0;
  padding: 0;
  height: calc(100% - 70px);
  overflow: auto;
  list-style-type: none;
}

.list-item {
  padding: 8px 15px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid transparent;
  vertical-align: middle;
  color: #777;
}

.list-item:last-child {
  border-bottom: 1px solid transparent;
}

.list-item.active {
  background-color: rgba(250, 250, 250, .75);
  color: #333;
}

.list-item.editing {
  background-color: rgba(255, 255, 240, .75);
}

.list-item:hover {
  color: #222;
}

.list-check {
  margin-right: 10px !important;
  vertical-align: top;
}

.list-del {
  margin-top: 3px;
  color: #ccc;
}

.list-del:hover {
  color: #555;
}

.list-editing,
.list-label {
  display: inline-block;
  overflow: hidden;
  width: 140px;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.editor {
  width: calc(100% - 220px);
  height: 100%;
  float: right;
  position: relative;
}

.editor textarea {
  width: 100%;
  height: calc(100% - 35px);
  border: none;
  outline: none;
  background: transparent;
  padding: 15px;
  resize: none;
  font-size: 14px;
  border-top: solid 1px #ddd;
  font-family: Courier New, Courier, monospace;
  letter-spacing: 1px;
  color: #555;
}

.head {
  height: 35px;
  -webkit-app-region: drag;
  line-height: 35px;
  padding: 0 10px;
  color: #aaa;
}

.foot {
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #aaa;
}

.foot:hover {
  color: #555;
}